/* @tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Archivo Narrow', sans-serif;
  }
  
  
.Dropdown-control {
  color: #6dadd3 !important;
}


.Dropdown-arrow {
  border-color: #020a12 transparent transparent !important;
  border-width: 8px 7px !important;
} 
.Dropdown-option.is-selected {
  color:#6dadd3  !important;
}

.Dropdown-option {
  color: #6dadd3!important;
} 


.Dropdown-placeholder.is-selected{
  margin-left: 20px !important;
}


.ftzeFU {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: balance !important;
}

style .attribute {
  color: rgb(64, 205, 64);
  font-size: 20px;
  stroke-width: 10px !important;
}


.fJDmGk {
  display: flex;
  width: 100%;
  color: rgba(0, 0, 0, 0.733);
  font-size: 18px !important;
  font-weight: 500;
}

The !important declaration in CSS is used to give a CSS rule higher priority.
When you add !important to a CSS property, it overrides any other declarations of that property, regardless of specificity or source order.

 */

@tailwind base;
@tailwind components;
@tailwind utilities;


.Dropdown-control {
    color: #6dadd3 !important;
}


.Dropdown-arrow {
    border-color: #020a12 transparent transparent !important;
    border-width: 8 px 7 px !important;
} 
.Dropdown-option.is-selected {
    color:#6dadd3  !important;
}

.Dropdown-option {
    color: #6dadd3 !important;
} 


.Dropdown-placeholder.is-selected{
    margin-left: 20 px !important;
}


style .attribute {
    color: rgb(64, 205, 64);
    font-size: 20 px;
    stroke-width: 10 px !important;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
}

.fJDmGk {
    display: flex;
    width: 100%;
    color: rgba(0, 0, 0, 0.733);
    font-size: 18 px !important;
    font-weight: 500;
}

.sc-cwHqhk.kzZBXj{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: balance !important;
  font-size: 12 px !important;
}

.sc-jlZhRR.isPiMa.rdt_TableCol_Sortable{
  font-size: 18 px !important;

}


.css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected{
  font-weight: bolder !important;
}


.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  font-weight:bolder !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-style: archivo narrow !important;
}
